DEBUG=0
DJANGO_SETTINGS_MODULE=config.settings.prod
SECRET_KEY=some-secret-key


POSTGRES_DB=crm
POSTGRES_USER=crm
POSTGRES_PASSWORD=crm
DB_HOST=db
DB_PORT=5432


EMAIL_HOST_USER=test
EMAIL_HOST_PASSWORD=test