Django==6.0.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
python-decouple==3.8
psycopg[binary]
gunicorn
django-silk==5.4.3
pillow==12.1.1
requests


django-cors-headers
django-debug-toolbar
django-filter
drf-spectacular
redis
hiredis
django-redis
gunicorn
